body{
    background-color:gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#main{
    
    background-color: orange;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}
.p{
    background-color: black;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.o{
    border: solid 1px wheat;
    width: 38px;
    height: 38px;
}
.time{
    text-align: center;
    font-size: 40px;
}
#pkt{
    text-align: center;
    font-size: 30px;
}
#runda{
    text-align: center;
    font-size: 30px;
}
#mainheader span{
    background-color: #8D8178;
    text-align: center;
}
#mainheader{
    background-color: #8D8178;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button{
    margin-top: 10px;
}
#a11{
    height: 10%;
    position: relative;
    margin: 1%;
    background-color: orange;
    display:inline-block;
    padding:0.5em 2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
#a11:hover{
    color:#000000;
    background-color:#fb8b24;
    cursor: pointer;
}
.buttons{
    width: 130px;
    background-color: orange;
    display:inline-block;
    padding:1em 3em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
.buttons:hover{
    color:#000000;
    background-color:#fb8b24;
    cursor: pointer;
}
